SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{address}=="ce:2d:0c:b8:2c:ec", NAME="eth1"
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{address}=="16:51:23:ca:44:59", NAME="eth0"
